/* Hero Section */
.hero-container {
    padding: 3rem 1rem;
  }
  
  .hero-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
  }
  
  .hero-subtitle {
    font-size: 1.2rem;
    color: #e0e0e0;
    margin-bottom: 30px;
  }
  
  .search-box {
    max-width: 500px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .search-box input {
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    font-size: 1rem;
  }
  
  .search-box input:focus {
    outline: none;
    box-shadow: none;
  }
  
  .search-btn {
    background-color: #002e41;
    border: none;
    color:#f0f8ff;
    font-weight: 500;
    padding: 10px 25px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
  }
  
  .search-btn:hover {
    background-color: #868883;
    color: #002e41;
  }
  
  /* Popular Categories */
  .category-box:hover {
    background-color: #529ada;
    transform: scale(1.03);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
  }
  
  /* Job Cards */
  .job-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  }
  
  /* Why Choose Us */
  section h2 {
    font-weight: bold;
  }
  
  /* Call to Action */
  section.bg-cta {
    background-color: #fff3cd;
  }
  
  .btn-success:hover {
    background-color: #198754;
  }
  
  .btn-outline-dark:hover {
    background-color: #343a40;
    color: white;
  }
  